$error: #e81c4f;
$success: #19cf86;
$warning: #ed734a;

/* Black, Greys and Whites */
$neutral-00: #fff;
$neutral-01: #f3f3f3;
$neutral-02: #dadada;
$neutral-03: #c4c4c4;
$neutral-04: #909294;
$neutral-05: #606467;
$neutral-06: #474a4d;
$neutral-07: #404040;
$neutral-08: #000;

/* Brand */

$brand-primary-01: #226ce0;
$brand-primary-02: darken(#226ce0, 0.2);
$brand-primary-03: darken(#226ce0, 0.4);
