@import '../../../src/sass/variables.scss';

@include block('navbar', 'c') {
  height: 4em;
  width: 100%;
  background-color: $brand-primary-01;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 14px 28px rgba($neutral-08, 0.16), 0 10px 10px rgba($neutral-08, 0.2);

  @include element ('links') {
    @include flex($direction: 'row', $column: 'center', $row: 'flex-end');

    height: 100%;
    margin: 0;
    list-style: none;
  }

  @include element ('link') {
    @include font('stack-1', 1.1rem);

    margin: 0 1.5rem;
 
    a { 
      color: $neutral-00;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
